.task-view {
  
}

.task-ad-title { margin: 10px 0; }

.task-ad-company {
  font-style: italic;
  font-size: 0.75rem;
  font-weight: 300;
  margin: 5px 0 0 0;
}

.task-ad-map {
  margin: 15px 5px;
}

.task-ad-map img { width: 100%; height: auto; }

.task-ad-image {
  padding: 5px;
}

.task-ad-image img { 
  display: block; width: 100%; height: auto;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
}

table.task-ad-meta { margin: 15px 0 0 0; padding: 0; width: 100%; }
table.task-ad-meta th, table.task-ad-meta td { font-size: 0.65rem; vertical-align: top; padding: 5px; }
table.task-ad-meta th { text-align: right; }
table.task-ad-meta td { text-align: left; }

.task-ad-tag {
  display: inline-block;
  padding: 5px 8px;
  background: #4CAF50;
  color: #fff;
  font-size: 0.65rem;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
}

.task-ad-tag.expired { background: #F44336; }

.task-ad-actions {
  margin: 15px 0 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-ad-actions button {
  width: 100%;
  padding: 10px 15px;
  font-size: 0.65rem;
  font-weight: 700;
  outline: none;
  border: none;
}

.task-ad-actions button i { margin-right: 8px; }

.task-ad-actions button.verify-btn {
  margin-right: 5px;
  background: #4CAF50;
  border: 2px solid #4CAF50;
  color: #fff;
}

.task-ad-actions button.verify-btn.verified {
  background: none;
  color: #4CAF50;
}

.task-ad-actions button.report-btn {
  margin-left: 5px;
  background: #F44336;
  border: 2px solid #F44336;
  color: #fff;
}